[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchainhub = "*"
python-dotenv = "*"
langchain-ollama = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.12"
