[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
langchain = "*"
langgraph = "*"
langchainhub = "*"
langchain-community = "*"
tavily-python = "*"
chromadb = "*"
python-dotenv = "*"
langchain-openai = "*"
langchain-chroma = "*"
langchain-tavily = "*"

[dev-packages]
isort = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.12"
